.Blackfur {
    background-image: url('imgs/95d889ef8f094ece86c2fb850a1a.png');
    max-width: 100%;
    overflow-x: hidden;
    width: 735px;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: contain;
}

.songs {
    max-width: 100%;
    width: 300px;
    height: 719px;
    background: none;
    border: none;
}

@media screen and (max-width: 650px) {
    .songs {
        width: 200px;
        height: 420px;
    }
}

audio::-webkit-media-controls-panel {
    background-color: #888; /* Set background color for WebKit browsers */
    color: white; /* Set text color */
    border-radius: 10px; /* Set border radius */
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-timeline-container,
audio::-webkit-media-controls-volume-control-container,
audio::-webkit-media-controls-mute-button {
    color: white; /* Set text color */
}

audio::-webkit-media-controls-timeline {
    background-color: #888; /* Set background color for timeline */
    height: 4px; /* Adjust height of timeline */
    border-radius: 2px; /* Adjust border radius of timeline */
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-volume-slider {
    background-color: transparent; /* Set background color for play button and volume slider */
}

audio::-webkit-media-controls-play-button::before {
    background-color: white; /* Set color of play button */
}