.bookWW {
    background-image: url("imgs/book.png");
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    background-size: 100% 100%;
}
.bookWW pre {
    color: black;
    font-size: 35px;
    font-family: URW Chancery L, cursive;
}
.bookWW p {
    color: black;
    background: none;
    border: none;
    font-size: 45px;
    font-family: URW Chancery L, cursive;
}