.inka {
    background-image: url('imgs/Inkaani.png');
    background-repeat: no-repeat;
    background-size: contain; /* Adjust as needed */
    -webkit-background-size: contain; /* For Safari */
    box-shadow: 10px 10px 10px black;
    -webkit-box-shadow: 10px 10px 10px black;
}

/* Adjustments for mobile devices */
@media only screen and (max-width: 768px) {
    .inka {
        background-size: cover; /* Example adjustment for smaller screens */
        -webkit-background-size: cover; /* For Safari */
    }
}

.inka pre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    text-shadow: black 10px 10px 10px;
}