.inka {
    background-image: url('imgs/Inkaani.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover; /* For Safari */
    box-shadow: 10px 10px 10px black; /* Apply shadow to the entire element */
    -webkit-box-shadow: 10px 10px 10px black; /* For Safari */
}

.inka pre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    text-shadow: black 10px 10px 10px;
}