.sitelink a:link {
  color: MistyRose;
  background-color: transparent;
  text-decoration: none;
}
.sitelink a:visited {
   color: Coral;
   background-color: transparent;
   text-decoration: none;
}
.sitelink a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
.sitelink a:active {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}
