#container {
    width: 200px;
    height: 200px;
    position: relative;
    background: #ffad5b;
}
#animate {
    width: 25px;
    height: 25px;
    position: absolute;
    background: #87a4ec;
}

#myDiv1, #myDiv2 {
    background-color: coral;
    padding: 50px;
}

#myP1, #myP2 {
    background-color: white;
    font-size: 20px;
    border: 1px solid;
    padding: 20px;
}