#div1 {
    width: 450px;
    height: 150px;
    border: 1px solid #aaaaaa;
    padding: 0;
    max-width: 100%;
}
#div2 {
    width: 450px;
    height: 150px;
    border: 1px solid #aaaaaa;
    padding: 0;
    max-width: 100%;
}
