p {
    background-image: url('imgs/chernye-tuchi-v-pole.png');
}
h1,h2,h3,h4,h5,h6 {
    background-image: url('imgs/1636926693_1-bogatyr-club-p-tyomno-bordovii-fon-1.png');
}
body {
    background-image: url('imgs/red-abstract-background-curtain-texture-and-sparkling-backdrop-dark-background-ideal-for-banner-web-header-cover-social-media-landing-page-free-vector.png');
}