.damn:link {
  background-color: Pink;
  color: Seashell;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:100%;
  font-family: fantasy;
}
.damn:visited {
  background-color: Crimson;
  color: DarkRed;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:150%;
  font-family: fantasy;
}
.damn:hover, .damn:active {
  background-color: red;
}