table,th,td {
    border-collapse: collapse;
    border-radius: 5px;
}
th, td {
    background-color: rgb(219, 150, 150);
}
table {
    box-shadow: black 5px 5px 10px;
}

.iframeSwords {
    border:none;
    height: 600px;
    width: 630px;
    max-width: 100%
}

.iframeSwordWider {
    border:none;
    height: 600px;
    width: 643px;
    max-width: 100%
}

@media screen and (max-width: 650px) {
    .iframeSwords {
        width: 400px;
        height: 600px;
        max-width: none;
    }
    .iframeSwordWider {
        width: 400px;
        height: 600px;
        max-width: none;
    }
}
