.totooltip {
    position: relative;
    display: inline-block;
}
.totooltip .totooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #262633;
    color: #e58590;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 15;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.totooltip .totooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.totooltip:hover .totooltiptext {
    visibility: visible;
}